@model WebApplication2.ViewModels.OrderViewModel

@{ ViewData["Title"] = "Ändra order";
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}

<h1>Ändra Order</h1>
<h4>Redigerar @Html.DisplayFor(modelItem => Model.Order.Id)</h4>
<hr />
<div class="row">
    <div class="col-md-4" style="float:left; margin-top:10px">
        <form asp-action="EditOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order.UserId" class="control-label">Kund ID</label>
                <input asp-for="Order.UserId" class="form-control" />
                <span asp-validation-for="Order.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.CreatedDate" class="control-label">Datum för beställning</label>
                <input asp-for="Order.CreatedDate" class="form-control" />
                <span asp-validation-for="Order.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.ShippedDate" class="control-label">Datum skeppad</label>
                <input asp-for="Order.ShippedDate" class="form-control" />
                <span asp-validation-for="Order.ShippedDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Order.OrderSent" />
                    Order skickad
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-primary" />
            </div>
        </form>

    </div>
    <div style="float:right; margin-left:100px">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Orderrad
                    </th>
                    <th>
                        Produkt ID
                    </th>
                    <th>
                        Produktnamn
                    </th>
                    <th>
                        Antal
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.OrderProduct.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.OrderProduct.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.OrderProduct.Product.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.OrderProduct.Quantity)
                    </td>
        </table>
    </div>
</div>

<div>
    <a asp-action="Index">Gå tillbaka</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
