@model IEnumerable<WebApplication2.Models.Order>

@{
    ViewData["Title"] = "Ordrar";
    Layout = "_NavbarLayout";

}

<h1>Ordrar</h1>

<p>
    <a asp-action="Create">Skapa ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderSent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderSent)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditOrder", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
