@model IEnumerable<WebApplication2.Models.Order>

@{
    ViewData["Title"] = "Ordrar";
    Layout = "_NavbarLayout";

}

<h1>Ordrar</h1>

<p>
    <a asp-action="Create">Skapa ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Kund ID
            </th>
            <th>
                Datum för beställning
            </th>
            <th>
                Order skickad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderSent)
            </td>
            <td>
                @Html.ActionLink("Ändra", "EditOrder", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Detaljer", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Ta bort", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
