@model IEnumerable<WebApplication2.Models.Product>

@{
    ViewData["Title"] = "Produkter";
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}

<h1>Produkter</h1>

<p>
    <a asp-action="CreateProduct" class="btn btn-primary">Skapa ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Produktnamn
            </th>
            <th>
                Pris
            </th>
            <th>
                Rabatt
            </th>
            <th>
                Modell
            </th>
            <th>
                Storlek
            </th>
            <th>
                Kön
            </th>
            <th>
                Färg
            </th>
            <th>
                Antal
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                <a asp-action="EditProduct" asp-route-id="@item.Id">Ändra</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-action="DeleteProduct" asp-route-id="@item.Id">Ta bort</a>
            </td>
        </tr>
}
    </tbody>
</table>
