@model IEnumerable<WebApplication2.Models.Product>

@{
    ViewData["Title"] = "Produkter";
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}

@section Scripts{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous"></script>
    <script src="~/js/RecieveDeliverMessage.js"></script>
}


<div class="pt-3">
    <h1>Produkter</h1>
</div>
<p>
    <a asp-action="CreateProduct" class="btn btn-primary">Lägg till ny produkt</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                Produktnamn
            </th>
            <th>
                Pris
            </th>
            <th>
                Rabatt
            </th>
            <th>
                Modell
            </th>
            <th>
                Storlek
            </th>
            <th>
                Kön
            </th>
            <th>
                Färg
            </th>
            <th>
                Kategori
            </th>
            <th>
                Antal
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-align-vertical-middle">
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td class="text-align-vertical-middle">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="text-align-vertical-middle">
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td class="text-align-vertical-middle">
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td class="text-align-vertical-middle">
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td class="text-align-vertical-middle">
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td class="text-align-vertical-middle">
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td class="text-align-vertical-middle">
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td class="text-align-vertical-middle">
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    <a asp-action="EditProduct" asp-route-id="@item.Id" class="btn btn-secondary"><i class="fa fa-edit"></i></a>
                    <a asp-action="RemoveProduct" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
