@model IEnumerable<WebApplication2.Models.ApplicationUser>

@{
    ViewData["Title"] = "Användare";
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}
<div class="pt-3">
    <h1>Användare</h1>
    <div class="container overflow-hidden">
        <div class="float-right">
            <form class="form-inline my-2 my-lg-0" asp-controller="Admin" asp-action="Users" method="post">
                <input class="form-control mr-sm-2" type="text" name="searchId" placeholder="Sök användar-ID..." />
                <input class="btn btn-primary" type="submit" value="Sök">
            </form>
            <br />
        </div>
        <div class="float-sm-right">
            <p class="text-warning">@ViewBag.Error</p>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Användar-ID
                    </th>
                    <th>
                        Namn
                    </th>
                    <th>
                        E-Post
                    </th>
                    <th>
                        Telefon
                    </th>
                    <th>
                        Registrerad
                    </th>
                    <th>
                        Modifierad
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="text-align-vertical-middle" width="200">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td class="text-align-vertical-middle">
                        @Html.DisplayFor(modelItem => item.FirstName)
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td class="text-align-vertical-middle">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="text-align-vertical-middle">
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td class="text-align-vertical-middle" width="90">
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td class="text-align-vertical-middle" width="90">
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td style="width: 150px">
                        <a asp-action="EditUser" asp-route-id="@item.Id" class="btn btn-secondary"><i class="fa fa-edit" title="Redigera"></i></a>
                        <a asp-action="RemoveUser" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash" title="Ta bort"></i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>