@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Produkt";
    Layout = "_NavbarLayout";
}

@model Product

<div class="container">
    <div class="row">
        <div class="col-lg p-3">
            <div class="single-popular-items mb-50 text-center">
                <div class="popular-img">
                    <img class="img-thumbnail" src="@Model.ImageUrl" alt="">
                    <div class="img-cap">
                        <a asp-controller="Home" asp-action="Buy" asp-route-id="@Model.Id">

                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg p-3">
            <h5>@Model.ProductName</h5>
            <p><span class="mr-1"><strong>@Model.Price</strong></span></p>
            <p class="pt-1">
                @Model.ProductDescription
            </p>
            <div class="table-responsive">
                <table class="table table-sm table-borderless mb-0">
                    <tbody>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Modell</strong></th>
                            <td>@Model.Model</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Färg</strong></th>
                            <td>@Model.Color</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Leverans</strong></th>
                            <td>Sverige Endast</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="table-responsive mb-2">
                <table class="table table-sm table-borderless">
                    <tbody>
                        <tr>
                            <td class="pl-0 pb-0 w-25">Antal</td>
                            <td class="pb-0">Storlek: @Model.Size</td>
                        </tr>
                        <tr>
                            <td class="pl-0">
                                <div class="def-number-input number-input safari_only mb-0">
                                    <input class="quantity" id="myInput" min="0" name="quantity" value="1" type="number">
                                </div>
                            </td>
                            <td>
                                <div class="mt-1">
                                    <div class="form-check form-check-inline pl-0">
                                        <input type="radio" class="form-check-input" id="small" name="materialExampleRadios"
                                               checked>
                                        <label class="form-check-label small text-uppercase card-link-secondary"
                                               for="small">@Model.Gender</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-primary btn-md mr-1 mb-2 addtocart">Köp</button>
                <button type="button" class="btn btn-light btn-md mr-1 mb-2 addtocart">
                    <i class="fas fa-shopping-cart pr-2"></i>Lägg till i Kundvagn
                </button>
                <div>
                    <a asp-action="Products">Gå tillbaka</a>
                </div>
                <div>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <a asp-controller="Admin" asp-action="EditProduct" asp-route-id="@Model.Id">Ändra produkt</a>
                    }
                </div>
            </div>
        </div>
    </div>