@model IEnumerable<WebApplication2.Models.Product>
@{
    ViewData["Title"] = "Sök Produkt";
    Layout = "_NavbarLayout";
}

<style>

    .search-grid {
        position: relative;
        width: 100%;
        background: #fff;
        color: #666666;
        border-radius: 2px;
        margin-bottom: 25px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    }

        .search-grid .search-grid-body {
            padding: 15px 20px 15px 20px;
            font-size: 0.9em;
            line-height: 1.9em;
        }

    .search table tr td.rate {
        color: #f39c12;
        line-height: 50px;
    }

    .search table tr:hover {
        cursor: pointer;
    }

    .search table tr td.image {
        width: 50px;
    }

    .search table tr td img {
        width: 50px;
        height: 50px;
    }

    .search table tr td.rate {
        color: #f39c12;
        line-height: 50px;
    }

    .search table tr td.price {
        font-size: 1.5em;
        line-height: 50px;
    }

    .search #price1,
    .search #price2 {
        display: inline;
        font-weight: 600;
    }
</style>

<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/flaticon.css">
<link rel="stylesheet" href="~/css/slicknav.css">
<link rel="stylesheet" href="~/css/animate.min.css">
<link rel="stylesheet" href="~/css/fontawesome-all.min.css">
<link rel="stylesheet" href="~/css/slick.css">
<link rel="stylesheet" href="~/css/style.css">

<div class="container pt-5">
    <div class="row">
        <!-- BEGIN SEARCH RESULT -->
        <div class="col-md-12">
            <div class="search-grid search">
                <div class="search-grid-body">
                    <div class="row">

                        <!-- BEGIN RESULT -->
                        <div class="col-md-9">
                            <h2>Sökresultat</h2>
                            <hr>
                            <!-- END SEARCH INPUT -->
                            <p>Visar alla resultat som matchar <b>@ViewBag.searchResult</b>.</p>

                            <div class="padding"></div>
                        </div>
                    </div>

                    <!-- BEGIN TABLE RESULT -->
                    <div class="table-responsive">
                        <table class="table table-hover">

                            @{int i = 0;}
                            @foreach (var item in Model)
                            {
                                i++;
                                    <tbody>
                                        <tr data-href="/Home/Product/@item.Id">
                                            <td class="number text-center">@i</td>
                                            <td class="image"><img src="@Html.DisplayFor(modelItem => @item.ImageUrl)"></td>
                                            <td class="product"><strong>@Html.DisplayFor(modelItem => item.ProductName)</strong>
                                            <br />@Html.DisplayFor(modelItem => item.ProductDescription)</td>
                                            <td class="price text-right">@Html.DisplayFor(modelItem => @item.Price) kr</td>
                                        </tr>
                                    </tbody>
                                    }
                            </table>
                        </div>
                    <!-- END TABLE RESULT -->
                </div>
                <!-- END RESULT -->
            </div>
        </div>
    </div>
</div>
<!-- END SEARCH RESULT -->

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");

        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            });
        });
            });
</script>
