@model IEnumerable<WebApplication2.Models.Product>
@{
    ViewData["Title"] = "Sök Produkt";
    Layout = "_NavbarLayout";
}

    <div class="container pt-5">
        <div class="row">
            <!-- BEGIN SEARCH RESULT -->
            <div class="col-md-12">
                <div class="search-grid search">
                    <div class="search-grid-body">
                        <div class="row">

                            <!-- BEGIN RESULT -->
                            <div class="col-md-9">
                                <h2>Sökresultat</h2>
                                <p>@Html.Raw(ViewBag.searchResult)</p>
                            </div>

                            <!-- BEGIN TABLE RESULT -->
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tbody>

                                        @{int tableIndex = 0;}
                                        @foreach (var item in Model)
                                        {
                                            tableIndex++;

                                            <tr data-href="/Home/Product/@item.Id">
                                                <td class="number text-center">@tableIndex</td>
                                                <td class="image"><img src="@Html.DisplayFor(modelItem => @item.ImageUrl)"></td>
                                                <td class="product">
                                                    <strong>@Html.DisplayFor(modelItem => item.ProductName)</strong>
                                                    <br />@Html.DisplayFor(modelItem => item.ProductDescription)
                                                </td>
                                                <td class="price text-right">@Html.DisplayFor(modelItem => @item.Price) kr</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <!-- END TABLE RESULT -->
                        </div>
                        <!-- END RESULT -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SEARCH RESULT -->
