@model WebApplication2.ViewModels.OrderViewModel;
@{
    ViewData["Title"] = "Kundvagn";
    decimal sum = 0;

    ApplicationUser currentUser = checkUser(ViewBag.CurrentUser);

    List<Product> products = ViewBag.ShoppingCart;
    List<OrderProduct> orderProducts = ViewBag.ShoppingQuantities;
    Order order = new Order();
    List<int> cartProductIds = new List<int>();
    ApplicationUser checkUser(ApplicationUser user)
    {
        if (user != null)
        {
            return user;
        }
        else
        {
            ApplicationUser user2 = new ApplicationUser();
            user2.FirstName = "";
            user2.LastName = "";
            user2.Email = "";
            user2.PhoneNumber = "";
            user2.Street = "";
            user2.Zip = "";
            user2.City = "";
            return user2;
        }
    }
}


@section Scripts{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous"></script>
    <script src="~/js/SendDeliverMessage.js"></script>
}


<style>
    body {
        min-height: 100vh;
    }
</style>

<div class="pb-5 py-5">
    <div class="container">
        <form method="post">
            <div class="row">
                <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
                    <!-- Shopping cart table -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="p-2 px-3 text-uppercase">Produkt</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Pris</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Antal</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Radera</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (products != null)
                                {

                                    @for (int i = 0; i < products.Count; i++)
                                    //@foreach (var product in products)
                                    {
                                        <tr>
                                            <th scope="row" class="border-0">
                                                <div class="p-2">
                                                    <img src=@products[i].ImageUrl alt="" width="70" class="img-fluid rounded shadow-sm">
                                                    <div class="ml-3 d-inline-block align-middle">
                                                        <h5 class="mb-0"> <a asp-controller="Home" asp-action="Product" asp-route-id="@products[i].Id" class="text-dark d-inline-block align-middle">@products[i].ProductName</a></h5><span class="text-muted font-weight-normal font-italic d-block">Modell: @products[i].Model</span>
                                                        <input type="hidden" asp-for="shoppingCartIds" value="@products[i].Id" />
                                                    </div>
                                                </div>
                                            </th>
                                            <td class="border-0 align-middle"><strong>@products[i].Price kr</strong></td>
                                            <td class="border-0 align-middle"><strong><input class="form-control mr-sm-2" asp-for="shoppingCartQuantities" value="@orderProducts[i].Quantity" type="number" style="width:75px" /></strong></td>
                                            <td class="border-0 align-middle"><a asp-action="RemoveFromCart" asp-route-id="@i" class="text-dark"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                        <span><input class="float-right btn btn-primary" type="submit" value="Uppdatera kundvagnen" asp-action="UpdateCart" /></i></span>
                    </div>
                    <!-- End -->
                </div>
            </div>
            <!--Personal details-->
            <div class="row py-5 p-4 bg-white rounded shadow-sm">
                <div class="col-lg-6">
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Dina Uppgifter</div>

                    <div class="p-4">
                        <h5 class="mb-0"> <a class="text-dark d-inline-block align-middle">E-postadress</a></h5>
                        <div class="input-group mb-4 border rounded-pill p-2">
                            <input class="form-control border-0" type="text" value="@currentUser.Email" placeholder="Ex. namn@mail.com" aria-describedby="button-addon3" />
                        </div>
                        <div style="display:inline-block">
                            <h5 class="mb-0"> <a class="text-dark d-inline-block align-middle">Förnamn</a></h5>
                            <div class="input-group mb-4 border rounded-pill p-2">
                                <input class="form-control border-0" type="text" value="@currentUser.FirstName" placeholder="Ex. Lars" aria-describedby="button-addon3" />
                            </div>
                        </div>
                        <div style="display:inline-block;margin-left:10px">
                            <h5 class="mb-0"> <a class="text-dark d-inline-block align-middle">Efternamn</a></h5>
                            <div class="input-group mb-4 border rounded-pill p-2">
                                <input class="form-control border-0" type="text" value="@currentUser.LastName" placeholder="Ex. von Propellerkeps" aria-describedby="button-addon3" />
                            </div>
                        </div>
                        <h5 class="mb-0"> <a class="text-dark d-inline-block align-middle">Telefonnummer</a></h5>
                        <div class="input-group mb-4 border rounded-pill p-2">
                            <input class="form-control border-0" type="text" value="@currentUser.PhoneNumber" placeholder="Ex. 0771 793 336" aria-describedby="button-addon3" />
                        </div>
                        <h5 class="mb-0"> <a class="text-dark d-inline-block align-middle">Leveransadress</a></h5>
                        <div class="input-group mb-4 border rounded-pill p-2">
                            <input class="form-control border-0" type="text" value="@currentUser.Street" placeholder="Ex. Propellergatan 16" aria-describedby="button-addon3" />
                        </div>
                        <div style="display:inline-block">
                            <h5 class="mb-0"> <a class="text-dark d-inline-block align-middle">Postnummer</a></h5>
                            <div class="input-group mb-4 border rounded-pill p-2">
                                <input class="form-control border-0" type="text" value="@currentUser.Zip" placeholder="Ex. 226 56" aria-describedby="button-addon3" />
                            </div>
                        </div>
                        <div style="display:inline-block;margin-left:10px">
                            <h5 class="mb-0"> <a class="text-dark d-inline-block align-middle">Stad</a></h5>
                            <div class="input-group mb-4 border rounded-pill p-2">
                                <input class="form-control border-0" type="text" value="@currentUser.City" placeholder="Ex. Flygköping" aria-describedby="button-addon3" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-5">
                <div class="row py-5 p-4 bg-white rounded shadow-sm">
                    <div class="col-lg-6">
                        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Rabattkod</div>
                        <div class="p-4">
                            <p class="font-italic mb-4">Om du har en rabattkod, vänligen skriv in den i nedan fält.</p>
                            <div class="input-group mb-4 border rounded-pill p-2">
                                <input type="text" placeholder="Ange rabattkod" aria-describedby="button-addon3" class="form-control border-0">
                                <div class="input-group-append border-0">
                                    <button id="button-addon3" type="button" class="btn btn-dark px-4 rounded-pill"><i class="fa fa-gift mr-2"></i>Lägg till rabattkod</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Ordersammanfattning</div>
                        <div class="p-4">
                            <p class="font-italic mb-4">Fraktkostnad och ytterligare kostnader beräknas utifrån de värden du har angett.</p>
                            <ul class="list-unstyled mb-4">
                                <li class="d-flex justify-content-between py-3 border-bottom">
                                    <strong class="text-muted">Frakt</strong><strong>
                                        59kr
                                        @if (products != null)
                                        {

                                            if (products.Count != 0)
                                            {
                                                sum += 59;
                                            }
                                        }
                                    </strong>
                                </li>
                                <li class="d-flex justify-content-between py-3 border-bottom">
                                    <strong class="text-muted">Summa (inkl. moms)</strong>

                                    @if (products != null)
                                    {
                                        for (int i = 0; i < products.Count; i++)
                                        {
                                            sum += (products[i].Price * orderProducts[i].Quantity);
                                        }
                                    }
                                    <h5 class="font-weight-bold">@sum kr</h5>
                                </li>
                            </ul>
                            @if (products != null)
                            {

                                if (products.Count != 0)
                                {
                                    <!----If cart is not empty----->
                                    <button type="button" class="btn btn-dark rounded-pill py-2 btn-block" data-toggle="modal" data-target="#completeOrderModal" id="sendOrderButton">Slutför Beställning</button>
                                }
                                else
                                {
                                    <!----if cart is empty--------->
                                    <button type="button" class="btn btn-dark rounded-pill py-2 btn-block" data-toggle="modal" data-target="#emptyCartModal">Slutför Beställning</button>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-------------------Sends this modal on orderconfirmation---------------------------->
            <div class="modal fade" id="completeOrderModal" tabindex="-1" role="dialog" aria-labelledby="completeOrderModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Tack för din beställning!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>En orderbekräftelse kommer skickas till dig så fort du bekräftat ordern!</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Ångra">Ångra</button>
                            <button type="submit" class="btn btn-success">Tryck för att bekräfta din order</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-------------------Sends this modal if the cart is empty---------------------------->
            <div class="modal fade" id="emptyCartModal" tabindex="-1" role="dialog" aria-labelledby="emptyCartModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Kundvagnen är tom!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Där finns ingenting i din kundvagn som går att beställa!</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Stäng">Stäng</button>
                        </div>
                    </div>
                </div>
            </div>


        </form>

    </div>
</div>
